1;2;
1;CACPHeadIcon;0-200;Õ∑;
1;CACPHandIconLeft;2920-3970;”“ ÷;
1;CACPHandIconRight;1230-2280;◊Û ÷;
1;CACPElbowIconLeft;2670-2920;”“±€;
1;CACPElbowIconRight;980-1230;◊Û±€;
1;CACPSpineIcon;200-570;«˚∏…;
1;CACPHipIconLeft;3970-4210;”“Õ»;
1;CACPHipIconRight;2280-2520;◊ÛÕ»;
1;CACPFootIconLeft;4210-4360;”“Ω≈;
1;CACPFootIconRight;2520-2670;◊ÛΩ≈;
2;CACPElbowIconLeft,CACPElbowIconRight;570-780;;
2;CACPHipIconLeft,CACPHipIconRight;780-980;;
